head{
    background-color: black;
}
#H1
{
    text-align: center;
    font-family: Verdana;
    color: blueviolet;
    background-color: aquamarine;
    border: dashed ;
    border-color: blue;

}
menu{
    border: dashed;
    border-radius: 5%;
    width: 150px;
    
    
}
